<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
	<session-factory>
		<!-- Java DataBase Connectivity (JDBC) stuff -->
		<property name="hibernate.connection.username">datachan</property>
		<property name="hibernate.connection.password">p4ssw0rd</property>
		<property name="hibernate.connection.url">
			jdbc:postgresql://datachan.c4wt8faaxlgp.us-east-2.rds.amazonaws.com/Hibernate_SuperVillain
		</property>
		<property name="hibernate.connection.driver_class">
			org.postgresql.Driver
		</property>
		
		<!-- ADDITIONAL hibernate options -->
		<property name="hibernate.connection.dialect">
			org.hibernate.dialect.PostgreSQLDialect
		</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		
		<property name="hibernate.connection.pool_size">10</property>
		
		
		<mapping class ="com.example.model.SuperVillain"/>
		
	</session-factory>

</hibernate-configuration>