<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project-One-Connection-Demo</display-name>
  <welcome-file-list>
    <welcome-file>resources/html/landingpage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ForwardingMasterServlet</display-name>
    <servlet-name>ForwardingMasterServlet</servlet-name>
    <servlet-class>demo.servlet.ForwardingMasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardingMasterServlet</servlet-name>
    <url-pattern>/api/forward/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxMasterServlet</display-name>
    <servlet-name>AjaxMasterServlet</servlet-name>
    <servlet-class>demo.servlet.AjaxMasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxMasterServlet</servlet-name>
    <url-pattern>/api/ajax/*</url-pattern>
  </servlet-mapping>
</web-app>